*{
    padding: 0;
    margin: 0;
}
.body{
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.bg-color{
    background-color: #455A64 ;
}
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.253)!important;
}
.position{
    position: relative;
    top: 24%;
}

.dropdown-menu {
    padding: 0 0;
}
.radiousa{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.social-nav li a{
  color: white;
}
.social-nav li a:hover{
  color: #8ab652;
}
.bg-marq{
    background-color: #90a7b2;
    
}
.card-hover:hover{
    background-color: #455A64;
}