*{
    padding: 0;
    margin: 0;
}
.body{
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.bar{
    color:#fff; 
    font-size:28px; 
    margin: 10px;
    
}
.cnav ul li ul{
	position:absolute;left:-99999px;
	background:#fff;
    z-index: 999;
}
.cnav ul li:hover ul{
	left:0;
}
.collapse, .navbar-collapse{
    transition: all 1.5s ease ;
}
.dropdown-item{
    transition: all 0.5s ease;
}
.bg-color{
    background-color: #187875;
}
.bgSecondary{
    background-color: #6daf2c;
}
.textColor{
    color: #60ab13;
}
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.253)!important;
}
.position{
    position: relative;
    top: 24%;
}

.dropdown-menu {
    padding: 0 0;
}
.radiousa{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.social-nav li a{
  color: white;
}
.social-nav li a:hover{
  color: #8ab652;
}
.bg-marq{
    background-color: #8edbd9;
    
}
.card-hover:hover{
    background-color: #60ab13;
}
#home-icon .fas,
#home-icon .far {
    font-size: 50px;
    color: #c3d136;
}
#home-getstarted {
    position: relative;
    background: url("../images/leadingpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 250px;
}

#home-getstarted .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.row>* {
    padding-right: 10px;
    padding-left: 10px;
}
.tanvir .card-body {   
    padding: 3px 3px !important;
}
